body{
	background-color: #F2F2F2;
	margin: 1%;
	padding: 1%;
}
nav{
	box-sizing: border-box;
	border: solid 1px;
	color: #06425C;
	background-color: #486B02;
	display: inline-block;
	width: 20%;
	min-width: 125px;
	margin-right: 15px;
	height: 100vh;
	overflow: auto;
}
nav a{
	display: block;
	line-height: 45px;
	height: 45px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #486B02;
	padding-left: 60px;
	background: url("../img/arrow.png") no-repeat;
	margin: 10px 0 10px 5px;
}
section{
	display: inline-block;
	width: 70%;
	height: 100vh;
	overflow: auto;
}
.actiu{
	background-color:#121c00;
}
