body{
	background-color: #F2F2F2;
	margin: 1%;
	padding:1%;
}

nav{
	box-sizing:border-box;
	border: 1px solid #06425C;
	color:#06425C;
	background-color:#FFFFFF;
	overflow: auto;
	padding-left:1vw;
}
nav a{
	font-size:1vw;
	box-sizing:border-box;
	display:inline-block;
	height:10vh;
	width:18vw;
	color: #FFFFFF;
	background-color:#486B02;
	text-decoration: none;
	margin:1vw 5vw 1vw 0;
	padding:1vw 5vw;
	border-radius: 25px;
	min-width: 0;

}
nav a:hover{
	color:#000000;
	border-radius: 0;

}
.actiu{
	background-color:#800000;
}
