table.calendari{
	color: #06425C;
	border: 3px solid #000000;
	border-spacing: 0px;
	border-radius: 0 0 25px  25px;
}
.calendari caption{
	text-transform: uppercase;
	background-color:#666666;
	color:#ffffff;
	font-size: 150%;
	border-radius: 25px 25px 0 0;
}
.calendari th, .calendari td{
	margin: 200px;
	padding-bottom: 2px;
}
th{
	text-align: center;
	background: #FFFFFF;
}
span{
	color: #800000;
	text-align: center;
	display: block;
	visibility: hidden;
}
.calendari td{
	width: 75px;
	height: 75px;
	vertical-align: top;
}
.passat{
	padding: 0;
	margin: 0;
	background-color: #51A39D;
	color: rgba(0,0,0,0.25);
	border-spacing: 0;
	background:  url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/389177/holiday.png") no-repeat;
}
.vacances{
	margin: 0;
	padding: 0;
	background: #51A39D;
}

tr:nth-child(odd){
	background: #F2F2F2;
	border-radius: 50px;
}

tr:nth-child(even){
	background: #CDBB79;
}
tr:last-child>td:last-child{
	border-radius: 0 0 22px 0;
}
td:active>span{
	visibility: visible;
}
